[submodule "460"]
	path = 460
	url = https://gist.github.com/460.git
[submodule "3796"]
	path = 3796
	url = https://gist.github.com/3796.git
[submodule "4914"]
	path = 4914
	url = https://gist.github.com/4914.git
[submodule "5000"]
	path = 5000
	url = https://gist.github.com/5000.git
[submodule "5214"]
	path = 5214
	url = https://gist.github.com/5214.git
[submodule "5798"]
	path = 5798
	url = https://gist.github.com/5798.git
[submodule "5799"]
	path = 5799
	url = https://gist.github.com/5799.git
[submodule "7381"]
	path = 7381
	url = https://gist.github.com/7381.git
[submodule "7597"]
	path = 7597
	url = https://gist.github.com/7597.git
[submodule "8086"]
	path = 8086
	url = https://gist.github.com/8086.git
[submodule "8088"]
	path = 8088
	url = https://gist.github.com/8088.git
[submodule "8705"]
	path = 8705
	url = https://gist.github.com/8705.git
[submodule "8955"]
	path = 8955
	url = https://gist.github.com/8955.git
[submodule "10112"]
	path = 10112
	url = https://gist.github.com/10112.git
[submodule "14006"]
	path = 14006
	url = https://gist.github.com/14006.git
[submodule "15227"]
	path = 15227
	url = https://gist.github.com/15227.git
[submodule "50229"]
	path = 50229
	url = https://gist.github.com/50229.git
[submodule "50694"]
	path = 50694
	url = https://gist.github.com/50694.git
[submodule "50775"]
	path = 50775
	url = https://gist.github.com/50775.git
[submodule "53560"]
	path = 53560
	url = https://gist.github.com/53560.git
[submodule "53851"]
	path = 53851
	url = https://gist.github.com/53851.git
[submodule "54423"]
	path = 54423
	url = https://gist.github.com/54423.git
[submodule "55395"]
	path = 55395
	url = https://gist.github.com/55395.git
[submodule "56727"]
	path = 56727
	url = https://gist.github.com/56727.git
[submodule "57731"]
	path = 57731
	url = https://gist.github.com/57731.git
[submodule "57749"]
	path = 57749
	url = https://gist.github.com/57749.git
[submodule "57766"]
	path = 57766
	url = https://gist.github.com/57766.git
[submodule "57931"]
	path = 57931
	url = https://gist.github.com/57931.git
[submodule "58444"]
	path = 58444
	url = https://gist.github.com/58444.git
[submodule "58604"]
	path = 58604
	url = https://gist.github.com/58604.git
[submodule "58916"]
	path = 58916
	url = https://gist.github.com/58916.git
[submodule "60155"]
	path = 60155
	url = https://gist.github.com/60155.git
[submodule "60156"]
	path = 60156
	url = https://gist.github.com/60156.git
[submodule "60185"]
	path = 60185
	url = https://gist.github.com/60185.git
[submodule "60274"]
	path = 60274
	url = https://gist.github.com/60274.git
[submodule "60529"]
	path = 60529
	url = https://gist.github.com/60529.git
[submodule "60590"]
	path = 60590
	url = https://gist.github.com/60590.git
[submodule "60600"]
	path = 60600
	url = https://gist.github.com/60600.git
[submodule "61302"]
	path = 61302
	url = https://gist.github.com/61302.git
[submodule "61304"]
	path = 61304
	url = https://gist.github.com/61304.git
[submodule "61928"]
	path = 61928
	url = https://gist.github.com/61928.git
[submodule "62408"]
	path = 62408
	url = https://gist.github.com/62408.git
[submodule "62532"]
	path = 62532
	url = https://gist.github.com/62532.git
[submodule "63050"]
	path = 63050
	url = https://gist.github.com/63050.git
[submodule "67870"]
	path = 67870
	url = https://gist.github.com/67870.git
[submodule "68275"]
	path = 68275
	url = https://gist.github.com/68275.git
[submodule "68720"]
	path = 68720
	url = https://gist.github.com/68720.git
[submodule "69082"]
	path = 69082
	url = https://gist.github.com/69082.git
[submodule "69687"]
	path = 69687
	url = https://gist.github.com/69687.git
[submodule "69708"]
	path = 69708
	url = https://gist.github.com/69708.git
[submodule "70071"]
	path = 70071
	url = https://gist.github.com/70071.git
[submodule "70313"]
	path = 70313
	url = https://gist.github.com/70313.git
[submodule "70993"]
	path = 70993
	url = https://gist.github.com/70993.git
[submodule "71019"]
	path = 71019
	url = https://gist.github.com/71019.git
[submodule "71692"]
	path = 71692
	url = https://gist.github.com/71692.git
[submodule "72274"]
	path = 72274
	url = https://gist.github.com/72274.git
[submodule "72974"]
	path = 72974
	url = https://gist.github.com/72974.git
[submodule "73117"]
	path = 73117
	url = https://gist.github.com/73117.git
[submodule "73119"]
	path = 73119
	url = https://gist.github.com/73119.git
[submodule "74086"]
	path = 74086
	url = https://gist.github.com/74086.git
[submodule "74145"]
	path = 74145
	url = https://gist.github.com/74145.git
[submodule "76445"]
	path = 76445
	url = https://gist.github.com/76445.git
[submodule "77338"]
	path = 77338
	url = https://gist.github.com/77338.git
[submodule "77341"]
	path = 77341
	url = https://gist.github.com/77341.git
[submodule "77644"]
	path = 77644
	url = https://gist.github.com/77644.git
